<div class="widget-wrap">
  <h3 class="widget-title">LINKS</h3>
  <div class="widget">
  <ul class="entry">
  <li><a href="http://kqwd.blog.163.com/" title="老博客">网易老博客</a>：一座终将失守的空城</li>
  <li><a href="http://blanboom.org/" title="Blanboom">Blanboom</a>：折腾不止，是为创客</li>
  </ul>
  </div>
</div>
